table {
  width: 100%;
}

.wrapper {
  width: 80%;
  margin: 24px auto;
  .header {
    padding: 12px;

    .left {
      float: left;
    }

    .right {
      float: right;
    }
  }

  .action-buttons {
    text-align: right;
  }
}
