<h1 mat-dialog-title>Szemeszter hozzáadása</h1>
<div mat-dialog-content>
  <mat-form-field class="full-width">
    <mat-label>Szemeszter neve</mat-label>
    <input matInput placeholder="Szemeszter megnevezése" [(ngModel)]="semester.megnevezes">
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Szemeszter kezdete</mat-label>
    <input matInput type="datetime-local" placeholder="Szemeszter kezdete" [(ngModel)]="semester.kezdet">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Mégse</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="semester" cdkFocusInitial>Szemeszter frissítése</button>
</div>
